<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>
<% if !flash[:alert].blank? %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
<% end %>

<div>Attempted to import </div>
